
/* src/App.css */
.nav-link-custom {
  color: #000000;
}

.nav-link-custom:hover {
  color: #160d38;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 1rem; 
  padding: 1rem; 
}
